{% extends 'base.html' %}

{% block title %}
Todo List
{% endblock %}

{% block body %}
<div class="text-center my-8">
    <h1 class="text-5xl font-extrabold text-gray-900 dark:text-white mb-4">
        <a href="/" class="text-indigo-600 hover:text-indigo-800 dark:text-indigo-400 dark:hover:text-indigo-200">Todo List</a>
    </h1>
</div>

<div class="max-w-md mx-auto">
    <h2 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Update Task</h2>
    <form action="/update/{{todo.sno}}" method="POST" class="max-w-md mx-auto bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md mb-10">
        <div class="mb-4">
            <label for="title" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Title</label>
            <input
                id="title"
                type="text"
                name="title"
                value="{{todo.title}}"
                placeholder="Enter task title"
                class="w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-md focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-700 dark:text-white"
                required
            />
        </div>
        <div class="mb-6">
            <label for="description" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Description</label>
            <textarea
                id="desc"
                placeholder="Enter task description"
                name="desc" rows="3" class="w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-md focus:ring-indigo-500 focus:border-indigo-500 dark:bg-gray-700 dark:text-white"
            >{{todo.desc}}</textarea>
        </div>
          <button
        type="submit"
        class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:bg-indigo-500 dark:hover:bg-indigo-600"
    >
        Update Task
    </button>
    </form>
</div>
{% endblock %}
